 <section id="fade"></section>
<section id="modal">
  <section id="modal-header">
    <h3>Cadastro Realizado Com Sucesso</h3>
  </section>
  <section id="modal-body">
    <h4>Agora precisa realizar seu login</h4>
  </section>
</section>

