<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas</title>
    <link rel="stylesheet" href="../css/AgendamentoEmpresa.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
 
</head>
<body>
    <section id="textos-iniciais">
        <h1 id="empresas-h1">EMPRESAS PARCEIRAS PRÓXIMAS A VOCÊ: </h1>
        <p>Veja abaixo as empresas que encontramos perto de você:</p> <br>
    </section>
 
    <section>
        <h3 id="fozzy-h3">FOZZY AUTOMOTIVOS</h3>
        <fieldset id="fieldset-tres">
            <img src="../img/empresas1.jpg" id="img-tres-irm" width="310"> <br>  
 
        <section id="elementos-img">
            <img  id="img-data" src="../img/iconagenda.png" width="25" > <br> <br> <br>
 
            <img id="img-servicos" src="../img/iconservicos.png" width="25"> <br> <br> <br>
           
            <img id="img-local" src="../img/iconlocal.png" width="25"> <br> <br> <br>
         
            <img id="img-valor" src="../img/iconmoney.png" width="25"> <br> <br> <br>
           
            <img id="img-status" src="../img/iconhora.png" width="25">
       
        </section>
           
        <section id="elementos-label">
            <label for="img-data" id="label-data">Seg. a sáb. das 8h as 19h</label>
 
            <label for="img-servicos" id="label-servicos">Todos os serviços </label>
 
            <label for="img-local" id="label-local">Rua São Pedro, 520 - Barueri - SP</label>
 
            <label for="img-valor" id="label-valor">Melhor em custo benefício</label>
 
            <label for="img-status" id="label-status">Disponível agora</label> <br>
 
            <a href="../pages/agendamento.html" target="_blank"
                button id="btn-agendar"><b> AGENDAR</b></button> <br> <br></a>
        </fieldset>
 
        <hr>
       
    </section>
 
    </section>
 
    <!--CARGLASS AUTOMOVEIS -->
 
    <section>
        <h3 id="carglass-h3">CARGLASS AUTOMOVEIS </h3>
        <fieldset id="fieldset-carglass">
            <img src="../img/empresas2.jpg" id="img-carglass" width="300">
 
        <section id="elementos-img-glass">
            <section>
                <img id="img-data-glass" src="../img/iconagenda.png" width="25" > <br> <br> <br>
            </section>
             
 
            <img id="img-servicos-glass" src="../img/iconservicos.png" width="25"> <br> <br> <br>
           
            <img id="img-local-glass" src="../img/iconlocal.png" width="25"> <br> <br> <br>
         
            <img id="img-valor-glass" src="../img/iconmoney.png" width="25"> <br> <br> <br>
           
            <img id="img-status-glass" src="../img/iconhora.png" width="25">
       
        </section>
           
        <section id="elementos-label">
            <label for="img-data-glass" id="label-data-glass">Seg. a sáb. das 8h as 19h</label>
 
            <label for="img-servicos-glass" id="label-servicos-glass">Todos os serviços </label>
 
            <label for="img-local-glass" id="label-local-glass">Rua São Pedro, 520 - Barueri - SP</label>
 
            <label for="img-valor-glass" id="label-valor-glass">Melhor em custo benefício</label>
 
            <label for="img-status-glass" id="label-status-glass">Disponível agora</label> <br>
 
            <a href="../pages/agendamento.html"
                button id="btn-agendar-glass"><b> AGENDAR</b></button> <br> <br></a>
        </fieldset>
       
    </section>
 
    <!--JONAS CARROS -->
 
    <section>
        <h3 id="jonas-h3">JONAS CARROS </h3>
        <fieldset id="fieldset-jonas">
            <img src="../img/empresas3.jpg" id="img-jonas" width="300">
 
        <section id="elementos-img-jonas">
           
            <img src="../img/iconagenda.png" width="25"> <br><br><br>
 
            <img id="img-servicos-jonas" src="../img/iconservicos.png" width="25"> <br> <br> <br>
           
            <img id="img-local-jonas" src="../img/iconlocal.png" width="25"> <br> <br> <br>
           
            <img id="img-valor-jonas" src="../img/iconmoney.png" width="25"> <br> <br> <br>
           
            <img id="img-status-jonas" src="../img/iconhora.png" width="25">
       
        </section>
           
        <section id="elementos-label">
            <label for="img-data-jonas" id="label-data-jonas">Seg. a sáb. das 8h as 19h</label>
 
            <label for="img-servicos-jonas" id="label-servicos-jonas">Todos os serviços </label>
 
            <label for="img-local-jonas" id="label-local-jonas">Rua São Pedro, 520 - Barueri - SP</label>
 
            <label for="img-valor-jonas" id="label-valor-jonas">Melhor em custo benefício</label>
 
            <label for="img-status-jonas" id="label-status-jonas">Disponível agora</label> <br>
 
            <a href="../pages/agendamento.html" target="_blank"
             button id="btn-agendar-jonas"><b> AGENDAR</b></button> <br> <br>
           
            </a>
        </fieldset>
       
    </section>
 
    <!--PABLO ESTÉTICA AUTOMOTIVA -->
 
    <section>
        <h3 id="pablo-h3">PABLO ESTÉTICA AUTOMOTIVA </h3>
        <fieldset id="fieldset-pablo">
            <img src="../img/empresas4.jpg" id="img-pablo" width="300">
 
        <section id="elementos-img-pablo">
           
            <img src="../img/iconagenda.png" width="25"> <br><br><br>
 
            <img id="img-servicos-pablo" src="../img/iconservicos.png" width="25"> <br> <br> <br>
           
            <img id="img-local-pablo" src="../img/iconlocal.png" width="25"> <br> <br> <br>
           
            <img id="img-valor-pablo" src="../img/iconmoney.png" width="25"> <br> <br> <br>
           
            <img id="img-status-pablo" src="../img/iconhora.png" width="25">
       
        </section>
           
        <section id="elementos-label">
            <label for="img-data-pablo" id="label-data-pablo">Seg. a sáb. das 8h as 19h</label>
 
            <label for="img-servicos-pablo" id="label-servicos-pablo">Todos os serviços </label>
 
            <label for="img-local-pablo" id="label-local-pablo">Rua São Pedro, 520 - Barueri - SP</label>
 
            <label for="img-valor-pablo" id="label-valor-pablo">Melhor em custo benefício</label>
 
            <label for="img-status-pablo" id="label-status-pablo">Disponível agora</label> <br>
 
           <a href="../pages/agendamento.html" target="_blank"
            button id="btn-agendar-pablo"><b> AGENDAR</b></button> <br> <br>
        </a> 
        </fieldset>
       
    </section>
 
 
 
           
 
 
    </section>
 
    <footer>
        <hr>
        <p>Sobre Nós</p>
    </footer>
 
   
   
</body>
</html>