<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/novasenha.css">
    <title>RecuperarSenha</title>
</head>
<body>
    <div class="laranjaa">

    </div>
    <div class="brancaa">

    </div>
    <!--Responsividade-->

    <!--Responsividade-->

    <!--Fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito&family=Pixelify+Sans&family=Prompt:wght@500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
    <!--Fim fonte-->

         <div id="parte-laranja">
                <label for="text-Login" id="txt-login"> <strong>CRIAR <br>
                   NOVA
                    <br>
                    SENHA </strong></label>
            </div>
            <IMG src="../img/carrobrancosemfundo.png" id="iconecarro" width="150"></IMG>
            <div>
                <p id="txt-paragraph-login">Crie uma nova <br> senha seguindo<br>as regras<br>ao lado</p>
                <p id="txt-paragraph-cadastro"></p>
    </div>




        <div id="parte-branca">
            <label for="text-entre-na-sua-conta" id="text-entre-na-sua-conta"> <strong><b>CRIAR UMA NOVA SENHA</b></strong></label>
            <div class="inputs-form">
                    <p id="text-recupere-senha">Digite abaixo a senha desejada:</p>
                <form action="get" method="post">

                    <input id="inp-email-cpf" type="password" name="nome-input" placeholder="Nova senha:" required> <br> <br>

                    <input id="conf-senha" type="password" name="inp-email-senha" placeholder="Confirme a senha:" required> <br> <br>

                    <button class="btn-login-form"><b>REDEFINIR</b> </button>

                    <!--<input id="inp-email-senha" type="password" name="" placeholder="Confirme a senha:" required> <br> <br>-->
            <div>

    </div>

    </div>



</form>





</body>
</html>