<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Car</title>
    <link rel="stylesheet" href="css/empresa.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="app.js" defer></script>
</head>
<body>
    <div id="laranja"></div> 
    <a href="index.html"><img class="seta" src="../img/house-solid.svg" alt="Voltar"></a>
    <div class="container">
        <div id="rodape">
            <div class="avaliacao">
                <p id="nome">Perfect Car - Estética Automotiva</p>
                <p id="p2">Avaliação da empresa:</p>
                <div class="aval">
                    <img class="estrela" src="../img/estrela.png" alt="Estrela Avaliação">
                    <p id="num">4,3/5</p>
                </div>
            </div>

            <div class="avaliacao">
                <img class="perfil" src="../img/carrobranco.jpg" alt="Logo da Empresa">
            </div>
        </div>


        <div class="infos">
            <p class="title">Quem somos:</p>
            <p class="inputLarge">Na Perfect Car, elevamos a estética do seu veículo a um novo patamar. Com serviços especializados de detalhamento, polimento e proteção, nossos especialistas apaixonados garantem que seu carro brilhe como novo. Cuidamos de cada detalhe para que você possa desfrutar de um veículo impecável e impressionante em cada viagem. </p>
            <p class="title">Serviços:</p>
            <p class="inputSmall">Chapeação | Pintura | Ciborg | Soldas | Martelinho de Ouro | Espelhamento | Retoque | Cristalização | Troca de óleo | Freios | Embreagem | Suspensão</p>


    <h1>Atendimento</h1>

    <section>
        <fieldset id="fieldset-jonas">

        <section id="elementos-img-jonas">

            <img id="imgagenda" src="../img/personagem img.png" width="25"><strong>Alisson Ramalho </strong><br><br>

            <img id="img-servicos-jonas" src="../img/iconservicos.png" width="25"> <strong>Vitrificação, Lavagem Interna</strong> <br> <br>

            <img id="img-local-jonas" src="../img/iconlocal.png" width="25"> <strong>Rua Piriri, 10 - Pq dos Camargos - 06436-000 - Barueri - SP</strong> <br> <br>  

            <img id="img-valor-jonas" src="../img/iconmoney.png" width="25"><strong>R$250,30</strong> <br> <br> 

            <img id="img-status-jonas" src="../img/iconagenda.png" width="25"><strong>Data/Hora: 05/03/2024 19:30</strong>

        </section>
</body>
</html>