<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/recuperarsenha.css">
    <title>RecuperarSenha</title>

</head>

    <body>

            <div class="laranjaa">

            </div>
            <div class="brancaa">

            </div>


            <!--Fonte-->
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gabarito&family=Pixelify+Sans&family=Prompt:wght@500&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
            <!--Fim fonte-->

                <div id="parte-laranja">
                        <label for="text-Login" id="txt-login"> <strong>ESQUECEU <br>
                            SUA
                            <br>
                            SENHA? </strong></label>
                    </div>
                    <IMG src="../img/carrobrancosemfundo.png" id="iconecarro" width="150"></IMG>
                    <div>
                        <p id="txt-paragraph-login">Siga as instruções<br> ao lado para<br> recuperar<br> a sua senha</p>
                        <p id="txt-paragraph-cadastro"></p>
            </div>




                <div id="parte-branca">
                    <label for="text-entre-na-sua-conta" id="text-entre-na-sua-conta"> <strong><b>ESQUECI MINHA SENHA</b></strong></label>
                    <div class="inputs-form">
                            <p id="text-recupere-senha">Insira o seu CPF para receber no e-mail cadastrado as instruções e o link para criar uma nova senha.</p>
                        <form action="/RecuperarSenha" method="post">

                            <input id="cpf" type="text" name="cpf" placeholder="CPF/CNPJ" required> <br> <br>

                            <button class="btn-login-form"><b>ENVIAR</b> </button>
                    <div>

            </div>

            </div>



        </form>


    </body>


        </html>